.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 30rem;
  /* width: 30rem; */
  /* overflow: auto; */
  overflow-y: auto; 
  overflow-x: hidden;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(235, 54, 66);
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: rgb(219, 2, 17);
  border-color: rgb(235, 54, 66);
  color: white;
}

.actions .button--alt {
  color: rgb(235, 54, 66);
}

.actions .button {
  background-color: rgb(235, 54, 66);
  color: white;
}
