
/* .ingredients-list-container {
    text-align: center;
    padding: 20px;
  } */
  
  .ingredients-list-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .ingredients-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  .ingredients-table th,
  .ingredients-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .ingredients-table th {
    background-color: #45bcd1;
    color: #333;
    cursor: pointer;
  }
  
  .ingredients-table th:hover {
    background-color: #3ca0b1;
  }
  
  .ingredients-table th svg {
    margin-left: 5px;
    vertical-align: middle;
  }
  
  .ingredients-table td:first-child {
    text-align: center;
  }
  
  /*Buttons*/
  .ingredients-list-container button{
    background-color: #e6805e;
    border-color: #000000;
  }
  .ingredients-list-container button:hover{
    background-color: #ec0909;
  }
  