.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7bbbfe;
    /* background-color:rgb(54, 151, 254); */
    height: 3rem;
    /* padding: 1px; */
    display: flex;
    padding-bottom: 5px;
    
  }
  